.page{
    padding: 10px;
    font-family: 'Inter', sans-serif;
    max-width: 1200px;
    margin: auto;
}

.titleBar{
    background: linear-gradient(180deg, #0b3d91, #072c6b);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
    padding: 5px;
    border-radius: 10px;
    width: fit-content;
    margin: 10px auto 14px auto;
    box-shadow: 0 3px 6px rgba(0,0,0,0.25);
}

.titleText{
    margin: 0;
    font-size: 2rem;
    font-weight: bold;
    margin: 0.3em 0;
    text-align: center;
}

.titleIcon{
    height: 50px;
    width: auto;
}

.layout{
    display: flex;
    gap: 10px;
}

.left{
    flex: 1.5;
    border-right: 1px solid gray;
}

.right{
    flex: 0.5;
}

@media(max-width: 900px){
    .layout{
        flex-direction: column;
        gap: 20px;
    }

    .left{
        width: 100%;
        border-right: none;
        border-bottom: 1px solid gray;
        padding-bottom: 20px;
        max-height: 500px;
        overflow-y: auto;
    }

    .right{
        width: 100%;
    }

    .title {
        font-size: 18px;
    }

    .titleIcon {
        height: 50px;
    }

    .titleBar {
        padding: 6px 10px;
    }
}